@page "/"
@inject DadosCarteiras dados
<p>Data do Sistema:</p>
<br>
<p>@dados.DataDoSistema</p>

<br><br>
<p>Atualizar Data</p>

<input type="datetime" @bind=dados.DataDoSistema></input>

<br>

<button @onclick="@(() => CobrarTarifas())">Cobrar Tarifas (Todos as Contas)</button>

<br><br>
<span id="msgSucesso">@Sucesso</span>

@code {
    private string Sucesso = "";

    private bool JaCobrada = false;

    private void CobrarTarifas()
    {
        if (JaCobrada)
        {
            Sucesso = "Tarifa já foi cobrada esse mes!";
            return;
        }
        else
        {
            dados.CobrarContas();
            Sucesso = "Tarifa cobrada com sucesso!";
            JaCobrada = true;
        }
    }
}


